name: RustRelease

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on new tags like v1.0.0
  
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build Release
      run: cargo build --verbose --release

    #- name: Upload full release folder
    #  uses: actions/upload-artifact@v4
    #  with:
    #    name: release-build
    #    path: target/release/

    - uses: montudor/action-zip@v1
      with:
        args: zip -qq -r release-ubuntu-${{ github.ref_name }}.zip target/release/data target/release/noise target/release/text target/release/inspect

    - name: Create GitHub Release and upload artifacts
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }} # Use the tag name that triggered the workflow
        name: Release ${{ github.ref_name }}
        body: |
          Automatic release for version ${{ github.ref_name }}

          Check out the attached artifacts for the build.
        artifacts: "release-ubuntu-${{ github.ref_name }}.zip" # Path to the artifacts to be attached to the release
        draft: false
        prerelease: false
  
  build-win:
    needs: build
    permissions:
      contents: write
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Build Release
        run: cargo build --verbose --release

      - name: Mkdir
        run: mkdir release_output 
          xcopy target/release/data.exe release_output
          xcopy target/release/text.exe release_output
          xcopy target/release/noise.exe release_output
          xcopy target/release/inspect.exe release_output
    
      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.5
        with:
          directory: release_output
          type: 'zip'
          filename: "release-win-${{ github.ref_name }}.zip"
          exclusions: '*.git* /*node_modules/* .editorconfig'
          
      - name: Create GitHub Release and upload artifacts
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }} # Use the tag name that triggered the workflow
          name: Release ${{ github.ref_name }}
          body: |
            Automatic release for version ${{ github.ref_name }}
  
            Check out the attached artifacts for the build.
          artifacts: "release_output/release-win-${{ github.ref_name }}.zip" # Path to the artifacts to be attached to the release
          draft: false
          prerelease: false
  
